header {
    @include flex-center;
    padding-top: 30px;
    padding-bottom: 15px;
    box-shadow: 0px 2px 5px rgb(56, 56, 56, 0.3);
    position: relative;
    z-index: 3;
  
    .logo {
      width: 200px;
    }
  }