header {
    @include flex-center;
}

.i-a {
    position: absolute;
    color: black;
    margin-top: -38px;
    margin-left: 10px;
    z-index: 10;
}

.img-restaurant {
    width: 100%;
    max-height: 275px;
    object-fit: cover;

    @media (min-width: 1024px){
        max-height: 385px;
    }
}

// *****menu-section*****

.menu-section {
    background-color: $primary-background-color;
    border-radius: 40px 40px 0px 0px;
    margin-top: -70px;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    z-index: 2;

    @media (min-width: 1024px) {
        margin-left: 192px;
        margin-right: 192px;
        padding-left: 190px;
        padding-right: 190px;
        margin-top: -50px;
    }

    .h2-active {
        @media (min-width: 1440px) {
            justify-content: center;
            padding-left: 230px;;
        }
    }

    .icon_like-container-menu {
        position: relative;
        width: 22px; 
        height: 22px;
        right: -270px;
        top: -20px;
    
        .icon_like-menu {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.2s;
    
            &.icon1 {
                opacity: 0; 
            }
    
            &.icon2 {
                opacity: 1; 
            }
        }
    
        &:hover {
            .icon1 {
                opacity: 1; 
            }
    
            .icon2 {
                opacity: 0;
            }
        }
    }

    .h3-menu {
        font-weight: 300;
        font-size: 16px;
        border-bottom: 3px $tertiary-color solid;
        width: 40px;
        padding-bottom: 5px;
        padding-top: 25px;
    }

    .menu-card {
        background-color: $secondary-backgound-color; 
        border-radius: 20px;
        @include box-shadow;
        padding-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 15px;
    
        &:hover {
            .check-anim {
                width: 50px; 
            
                .check {
                    opacity: 1; 
                }
            }
            
            .ellipsis {
                width: 200px;
            }
            
        }
    }

    .p-wrong {
        font-size: 16px;
        font-weight: 500;
        margin: 0px;
        padding-top: 10px;
    }

    .p-price-display {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 14px;
        font-weight: 300;
        margin-top: -10px;
    }

    .absolute {
        position: absolute;
        left: 15px;

        .ellipsis {
            position: relative;
            white-space: nowrap;     
            overflow: hidden;       
            text-overflow: ellipsis;
            display: block;
            transition: width 5s ease-in-out;
           }
    }

    .price {
        padding-right: 15px;
    }

    .check-anim {
        @include flex-center;
        width: 0px;
        margin-top: -20px;
        margin-right: -15px;
        padding-top: 25px;
        background-color: $tertiary-color;
        border-radius: 0px 20px 20px 0px;
        transition: width 0.3s ease-in-out; 
      
        .check {
            border: 1px solid $tertiary-color;
            padding: 7px 2px 7px 2px;
            border-radius: 50%;
            color: $tertiary-color;
            background-color: $secondary-backgound-color; 
            margin-bottom: 22px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out; 
        }
    }
}

.display-btn {
    @include flex-center;
    margin-top: 40px;
    padding-bottom: 40px;

    .commander-btn {
        font-size: 16px;
        font-weight: 500;
        border-radius: 25px;
        border: none;
        padding: 15px 45px 15px 45px;
        @include linearGradient-button;
        @include box-shadow;
        color: $quaternary-color;
        text-decoration: none;  
        cursor: default;
        transition: all 800ms;
  
        &:hover {
            @include hover-box-shadow;
            @include hover-linearGradient-button;
        }
    }   
}