header {
    @include flex-center;
}


.i-header {
    position: absolute;
    color: black;
    margin-top: -38px;
    margin-left: 10px;
}

.img-restaurant {
    width: 100%;
    max-height: 275px;
    object-fit: cover;
}

// *****menu-section*****

.menu-section {
    background-color: $primary-background-color;
    border-radius: 40px 40px 0px 0px;
    margin-top: -70px;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    z-index: 2;

    .h3-menu {
        font-weight: 300;
        font-size: 16px;
        border-bottom: 3px $tertiary-color solid;
        width: 40px;
        padding-bottom: 5px;
        padding-top: 25px;
    }

    .menu-card {
        background-color: $secondary-backgound-color;
        border-radius: 20px;
        @include box-shadow;
        padding-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 15px;

        .p-wrong {
            font-size: 16px;
            font-weight: 500;
            margin: 0px;
            padding-top: 10px;
        }

        .p-price-display {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 300;
            margin-top: -10px;
            
        }

        .price {
            margin-right: -70px;
        }
    }
} 



.display-btn {
    @include flex-center;
    margin-top: 40px;
    padding-bottom: 40px;

    .commander-btn {
        font-size: 16px;
        font-weight: 500;
        border-radius: 25px;
        border: none;
        padding: 15px 45px 15px 45px;
        @include linearGradient-button;
        @include box-shadow;
        color: $quaternary-color;
        text-decoration: $no-text-decoration;
        cursor: default;
        transition: all 800ms;
  
        &:hover {
            @include hover-box-shadow;
            @include hover-linearGradient-button;
        }
    }   
}

