.restaurants-section {
    @include flex-center;
    flex-direction: column;
    background-color: $primary-background-color;
    gap: 20px;
    padding-bottom: 60px;
  
    .h1-restaurants {
      padding: 20px 20px 0px 20px;
      margin-bottom: 0px;
    }
  
    .restaurants-card {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
      text-decoration: $no-text-decoration;
      color: black;
    }
  
    .img-card {
      border-radius: 20px 20px 0px 0px;
      height: 150px;
      object-fit: cover;
    }

    .content-card {
      padding-left: 15px;
      background-color: $secondary-backgound-color;
      border-radius: 0px 0px 20px 20px;
    
      .h3-card {
        margin-bottom: 0px;
      }
  
      .p-card {
        margin-top: 0px;
      }
    }
}