.restaurants-section {
    @include flex-center;
    flex-direction: column;
    background-color: $primary-background-color;
    gap: 20px;
    padding-bottom: 60px;

    @media (min-width: 1024px){
    padding-left: 180px;
    padding-right: 180px;
    
    }

    .h1-restaurants {
      padding: 20px 20px 0px 20px;
      margin-bottom: 0px;
    }
  
    .restaurants-card {
      position: relative;
      width: 320px;
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
      text-decoration: $no-text-decoration;
      color: black;

      @media (min-width: 1024px) {
        width: 490px;
      }
    }
  
    .img-card {
      border-radius: 20px 20px 0px 0px;
      height: 150px;
      object-fit: cover;
    }

    .img-new {
      position:absolute;
      right: 30px;
      width: 52px;
      font-size: 12px;
      font-weight: 500;
      color: #008766;
      border: 1px solid $tertiary-color;
      background-color: $tertiary-color;
      padding: 5px 5px 5px 7px;
      
    }

    .content-card {
      padding-left: 15px;
      background-color: $secondary-backgound-color;
      border-radius: 0px 0px 20px 20px;
    
      .h3-card {
        margin-bottom: 0px;
      }
  
      .p-card {
        margin-top: 0px;
      }
    }
}

.media-active {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}