body {
    margin: 0;
    font-family: $roboto-font;
    font-weight: 400;
    font-style: normal;
}
  
h1 {
    font-size: 24px;
    font-weight: 700;
}

h2 {
    font-family: shrikhand;
    font-weight: 400;
    font-size: 27px;
    padding-top: 30px;
    margin-bottom: -12px;
}

