body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-family: shrikhand;
  font-weight: 400;
  font-size: 28px;
  padding-top: 30px;
}

h3 {
  font-weight: 300;
  font-size: 16px;
  border-bottom: 3px #99E2D0 solid;
  width: 40px;
  padding-bottom: 5px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-bottom: 15px;
  -webkit-box-shadow: 0px 2px 5px rgba(56, 56, 56, 0.3);
          box-shadow: 0px 2px 5px rgba(56, 56, 56, 0.3);
  position: relative;
  z-index: 3;
}
header .logo {
  width: 200px;
}

.location-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  gap: 10px;
  background-color: #EAEAEA;
  -webkit-box-shadow: 0px 3px 5px rgba(56, 56, 56, 0.3);
          box-shadow: 0px 3px 5px rgba(56, 56, 56, 0.3);
  position: relative;
  z-index: 2;
}
.location-section form input.font-placeholder {
  padding-left: 15px;
  background-color: #EAEAEA;
  border: none;
}
.location-section form input.font-placeholder::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.location-section form input.font-placeholder::-moz-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.location-section form input.font-placeholder:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.location-section form input.font-placeholder::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.location-section form input.font-placeholder::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.reservation-section {
  background-color: #F6F6F6;
  text-align: center;
  height: 300px;
}
.reservation-section .h1-reservation {
  margin-top: 0%;
  padding: 30px 50px 0px 50px;
}
.reservation-section .p-reservation {
  font-size: 16px;
  font-weight: 300;
  padding: 0px 30px 30px 30px;
}
.reservation-section .a-reservation {
  border-radius: 25px;
  padding: 15px 23px 15px 23px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0px 5px 10px rgb(204, 203, 203);
          box-shadow: 0px 5px 10px rgb(204, 203, 203);
  color: white;
  text-decoration: none;
  cursor: default;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}
.reservation-section .a-reservation:hover {
  -webkit-box-shadow: 0px 5px 10px rgba(102, 102, 102, 0.8);
          box-shadow: 0px 5px 10px rgba(102, 102, 102, 0.8);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff88de), to(#9b63df));
  background-image: linear-gradient(#ff88de, #9b63df);
}

.functioning-section {
  padding: 30px 20px 60px 20px;
}
.functioning-section .functioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
  gap: 20px;
}
.functioning-section .functioning .style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  background-color: #F6F6F6;
  -webkit-box-shadow: 0px 5px 10px rgb(204, 203, 203);
          box-shadow: 0px 5px 10px rgb(204, 203, 203);
  color: black;
  padding: 25px 0;
  text-decoration: none;
  gap: 20px;
}
.functioning-section .functioning .style .number {
  background-color: #9356DC;
  color: white;
  border-radius: 90px;
  padding: 2px 7px;
  margin-left: -10px;
}
.functioning-section .functioning .style .i-mauve {
  color: #9356dc;
}
.functioning-section .functioning .style i {
  color: #7e7e7e;
}

.restaurants-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F6F6F6;
  gap: 20px;
  padding-bottom: 60px;
}
.restaurants-section .h1-restaurants {
  padding: 20px 20px 0px 20px;
  margin-bottom: 0px;
}
.restaurants-section .restaurants-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: black;
}
.restaurants-section .img-card {
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants-section .content-card {
  padding-left: 15px;
  background-color: #ffffff;
  border-radius: 0px 0px 20px 20px;
}
.restaurants-section .content-card .h3-card {
  margin-bottom: 0px;
}
.restaurants-section .content-card .p-card {
  margin-top: 0px;
}

footer {
  background: #353535;
  padding: 20px 0px 20px 20px;
}
footer .p-footer {
  font-family: "Shrikhand", serif;
  font-size: 16px;
  color: white;
  margin: 0px;
  padding-bottom: 15px;
}
footer .a-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
footer .a-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  gap: 10px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header i {
  color: black;
  padding-left: 20px;
}

.img-restaurant {
  width: 100%;
  min-height: 275px;
  max-height: 383px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-section {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  margin-top: -80px;
  padding-left: 17px;
  padding-right: 17px;
  position: relative;
  z-index: 2;
}
.menu-section .h3-arrangement {
  padding-top: 30px;
}
.menu-section .menu-card {
  background-color: #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 10px rgb(204, 203, 203);
          box-shadow: 0px 5px 10px rgb(204, 203, 203);
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}
.menu-section .menu-card .p-wrong {
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
  padding-top: 10px;
}
.menu-section .menu-card .p-price-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: 300;
  margin-top: -10px;
}
.menu-section .a-reservation {
  border-radius: 25px;
  padding: 15px 23px 15px 23px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0px 5px 10px rgb(204, 203, 203);
          box-shadow: 0px 5px 10px rgb(204, 203, 203);
  color: white;
  text-decoration: none;
  cursor: default;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}
.menu-section .a-reservation:hover {
  -webkit-box-shadow: 0px 5px 10px rgba(102, 102, 102, 0.8);
          box-shadow: 0px 5px 10px rgba(102, 102, 102, 0.8);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff88de), to(#9b63df));
  background-image: linear-gradient(#ff88de, #9b63df);
}/*# sourceMappingURL=main.css.map */