body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-family: shrikhand;
  font-weight: 400;
  font-size: 25px;
  padding-top: 30px;
  margin-bottom: -12px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-bottom: 15px;
  -webkit-box-shadow: 0px 2px 5px rgba(56, 56, 56, 0.3);
          box-shadow: 0px 2px 5px rgba(56, 56, 56, 0.3);
  position: relative;
  z-index: 3;
}
header .logo {
  width: 150px;
}
@media (min-width: 1024px) {
  header {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.location-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  gap: 10px;
  background-color: #EAEAEA;
  -webkit-box-shadow: 0px 3px 5px rgba(56, 56, 56, 0.3);
          box-shadow: 0px 3px 5px rgba(56, 56, 56, 0.3);
  position: relative;
  z-index: 2;
}
@media (min-width: 1024px) {
  .location-section {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.location-section form input.font-placeholder {
  padding-left: 15px;
  background-color: #EAEAEA;
  border: none;
}
.location-section form input.font-placeholder::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.location-section form input.font-placeholder::-moz-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.location-section form input.font-placeholder:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.location-section form input.font-placeholder::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.location-section form input.font-placeholder::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.reservation-section {
  background-color: #F6F6F6;
  text-align: center;
  height: 300px;
}
@media (min-width: 1024px) {
  .reservation-section {
    height: 220px;
  }
}
.reservation-section .h1-reservation {
  margin-top: 0%;
  padding: 30px 50px 0px 50px;
}
@media (min-width: 1024px) {
  .reservation-section .h1-reservation {
    font-size: 30px;
  }
}
.reservation-section .p-reservation {
  font-size: 16px;
  font-weight: 300;
  padding: 0px 30px 30px 30px;
}
.reservation-section .a-reservation {
  border-radius: 25px;
  padding: 15px 23px 15px 23px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0px 5px 10px rgb(204, 203, 203);
          box-shadow: 0px 5px 10px rgb(204, 203, 203);
  color: white;
  text-decoration: none;
  cursor: default;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}
.reservation-section .a-reservation:hover {
  -webkit-box-shadow: 0px 5px 10px rgba(102, 102, 102, 0.8);
          box-shadow: 0px 5px 10px rgba(102, 102, 102, 0.8);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff88de), to(#9b63df));
  background-image: linear-gradient(#ff88de, #9b63df);
}

.functioning-section {
  padding: 30px 20px 60px 20px;
}
@media (min-width: 1024px) {
  .functioning-section {
    margin-left: 180px;
    margin-right: 180px;
  }
}
.functioning-section .functioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
  gap: 20px;
}
@media (min-width: 1024px) {
  .functioning-section .functioning {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}
.functioning-section .functioning .style {
  width: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  background-color: #F6F6F6;
  -webkit-box-shadow: 0px 5px 10px rgb(204, 203, 203);
          box-shadow: 0px 5px 10px rgb(204, 203, 203);
  color: black;
  padding: 25px 0;
  text-decoration: none;
  gap: 20px;
}
.functioning-section .functioning .style .number {
  background-color: #9356DC;
  color: white;
  border-radius: 90px;
  padding: 2px 7px;
  margin-left: -10px;
}
.functioning-section .functioning .style .i-mauve {
  color: #9356dc;
}
.functioning-section .functioning .style i {
  color: #7e7e7e;
}

.restaurants-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F6F6F6;
  gap: 20px;
  padding-bottom: 60px;
}
@media (min-width: 1024px) {
  .restaurants-section {
    padding-left: 180px;
    padding-right: 180px;
  }
}
.restaurants-section .h1-restaurants {
  padding: 20px 20px 0px 20px;
  margin-bottom: 0px;
}
.restaurants-section .restaurants-card {
  position: relative;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: black;
}
@media (min-width: 1440px) {
  .restaurants-section .restaurants-card {
    width: 490px;
  }
}
.restaurants-section .img-card {
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants-section .img-new {
  position: absolute;
  right: 30px;
  width: 52px;
  font-size: 12px;
  font-weight: 500;
  color: #008766;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  padding: 5px 5px 5px 7px;
}
.restaurants-section .content-card {
  padding-left: 15px;
  background-color: #ffffff;
  border-radius: 0px 0px 20px 20px;
}
.restaurants-section .content-card .h3-card {
  margin-bottom: 0px;
}
.restaurants-section .content-card .p-card {
  margin-top: 0px;
}

.media-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (min-width: 1024px) {
  .media-active {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer {
  background: #353535;
  padding: 20px 0px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1024px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 80px 0px 0px;
    height: 114px;
  }
}
footer .p-footer {
  font-family: "Shrikhand", serif;
  font-size: 16px;
  color: white;
  margin: 0px;
  padding-bottom: 15px;
}
@media (min-width: 1024px) {
  footer .p-footer {
    padding-bottom: 0px;
    font-size: 20px;
  }
}
footer .a-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
@media (min-width: 1024px) {
  footer .a-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-right: 80px;
    gap: 20px;
  }
}
footer .a-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  gap: 10px;
}

@media (min-width: 1024px) {
  .padding-active {
    padding-left: 50px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.i-a {
  position: absolute;
  color: black;
  margin-top: -38px;
  margin-left: 10px;
  z-index: 10;
}

.img-restaurant {
  width: 100%;
  max-height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-section {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  margin-top: -70px;
  padding-left: 17px;
  padding-right: 17px;
  position: relative;
  z-index: 2;
}
@media (min-width: 1024px) {
  .menu-section {
    margin-left: 192px;
    margin-right: 192px;
    padding-left: 190px;
    padding-right: 190px;
    margin-top: -50px;
  }
}
@media (min-width: 1024px) {
  .menu-section .h2-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.menu-section .h3-menu {
  font-weight: 300;
  font-size: 16px;
  border-bottom: 3px #99E2D0 solid;
  width: 40px;
  padding-bottom: 5px;
  padding-top: 25px;
}
.menu-section .menu-card {
  background-color: #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 10px rgb(204, 203, 203);
          box-shadow: 0px 5px 10px rgb(204, 203, 203);
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}
.menu-section .menu-card:hover .check-anim {
  width: 50px;
}
.menu-section .menu-card:hover .check-anim .check {
  opacity: 1;
}
.menu-section .menu-card:hover .ellipsis {
  width: 200px;
}
.menu-section .p-wrong {
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  padding-top: 10px;
}
.menu-section .p-price-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 14px;
  font-weight: 300;
  margin-top: -10px;
}
.menu-section .absolute {
  position: absolute;
  left: 15px;
}
.menu-section .absolute .ellipsis {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  -webkit-transition: width 5s ease-in-out;
  transition: width 5s ease-in-out;
}
.menu-section .price {
  padding-right: 15px;
}
.menu-section .check-anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0px;
  margin-top: -20px;
  margin-right: -15px;
  padding-top: 25px;
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.menu-section .check-anim .check {
  border: 1px solid #99E2D0;
  padding: 7px 2px 7px 2px;
  border-radius: 50%;
  color: #99E2D0;
  background-color: #ffffff;
  margin-bottom: 22px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.display-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  padding-bottom: 40px;
}
.display-btn .commander-btn {
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  border: none;
  padding: 15px 45px 15px 45px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0px 5px 10px rgb(204, 203, 203);
          box-shadow: 0px 5px 10px rgb(204, 203, 203);
  color: white;
  text-decoration: none;
  cursor: default;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}
.display-btn .commander-btn:hover {
  -webkit-box-shadow: 0px 5px 10px rgba(102, 102, 102, 0.8);
          box-shadow: 0px 5px 10px rgba(102, 102, 102, 0.8);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff88de), to(#9b63df));
  background-image: linear-gradient(#ff88de, #9b63df);
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background: linear-gradient(45deg, #FF79DA, #9356DC);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-animation: fadeOut 3s forwards;
          animation: fadeOut 3s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.loader .loader-text {
  font-family: Shrikhand;
  font-size: 50px;
  -webkit-animation: fadeInOutZoom 5s forwards;
          animation: fadeInOutZoom 5s forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes fadeInOutZoom {
  0%, 20% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  20%, 80% {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  80%, 100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes fadeInOutZoom {
  0%, 20% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  20%, 80% {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  80%, 100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.menu-card {
  opacity: 0;
  -webkit-animation: fadeIn 0.5s forwards;
          animation: fadeIn 0.5s forwards;
}
.menu-card:nth-of-type(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.menu-card:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.menu-card:nth-of-type(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.menu-card:nth-of-type(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.menu-card:nth-of-type(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.menu-card:nth-of-type(6) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.menu-card:nth-of-type(7) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.menu-card:nth-of-type(8) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.menu-card:nth-of-type(9) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.menu-card:nth-of-type(10) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}
.menu-card:nth-of-type(11) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.icon-container {
  position: relative;
  width: 22px;
  height: 22px;
}
.icon-container .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.icon-container .icon.icon1 {
  opacity: 0;
}
.icon-container .icon.icon2 {
  opacity: 1;
}
.icon-container:hover .icon1 {
  opacity: 1;
}
.icon-container:hover .icon2 {
  opacity: 0;
}/*# sourceMappingURL=main.css.map */